// mixin
@mixin btn-theme($base) {
    padding: $base * 1 $base * 3;
    border-radius: 8px;
    font-size: 14px;
}

@mixin shadow-theme($base) {
    box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2,
     $base * -1px $base * -1px $base * 2px $color-white-3
}

@mixin responsive-theme($breakPoint) {
    @if ($breakPoint == MD) {
        @media screen and (min-width: $MD) {
            @content;
        }
    } @else if ($breakPoint == XL) {
        @media screen and (min-width: $XL) {
            @content;
        }
    }
}